$primary-yellow-color: #FFCC00;
$primary-red-color: #D40511;
$primary-black-color: #000;
$primary-white-color: #FFFF;

$secondary-yellow-color: #E37729;
$secondary-red400-color: #EB131E;
$secondary-red600-color: #9A0000;
$secondary-green400-color: #76BD22;
$secondary-green500-color: #007C39;
$secondary-black-color: #191919;

$grey50-color: #F2F2F2;
$grey100-color: #EBEBEB;
$grey200-color: #E5E5E5;
$grey300-color: #CCCCCC;
$grey350-color: #C1C1C1;
$grey400-color: #B2B2B2;
$grey500-color: #8C8C8C;
$grey600-color: #666666;
$grey700-color: #333333;

$app-header-height: 4rem;
$dialog-margin-left-right: 1.5rem;
$dialog-margin-top-bottom: 2rem;


$selected-yellow-color: rgba(255, 204, 0, 0.623);
$selected-red-color: rgba(212, 5, 17, 0.623);
$selected-grey-color: rgba(137, 137, 137, 0.623);

$hovered-yellow-color: rgba(255, 204, 0, 0.2);
$hovered-red-color: rgba(212, 5, 17, 0.2);
$hovered-grey-color: rgba(137, 137, 137, 0.2);
