<h1 class="headline">H1 Headline</h1>
<h1 class="subline">H1 Subline</h1>

<h2 class="headline">H2 Headline</h2>
<h2 class="subline">H2 Subline</h2>

<h3 class="headline">H3 Headline</h3>
<h3 class="subline">H3 Subline</h3>

<h4 class="headline">H4 Headline</h4>
<h4 class="subline">H4 Subline</h4>

<h5 class="headline">H5 Headline</h5>

<header class="text-section-header">Section header</header>

<p>Regular</p>
<p class="text-bold">Regular Bold</p>
<p class="text-small">Small</p>
<p class="text-bold text-small">Small Bold</p>
